In [ ]:
import warnings
warnings.filterwarnings("ignore")
import joblib
import gc
import numpy as np
import pandas as pd
import _pickle as cpickle
import pickle
from datetime import datetime
import time
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score

In [ ]:
# Loading train and test features 
!pip3 install pickle5
import pickle5 as pickle

with open("/content/drive/MyDrive/data_train_final.pkl", "rb") as fh:
  data_train = pickle.load(fh)
with open("/content/drive/MyDrive/data_test_final.pkl", "rb") as fh:
  data_test = pickle.load(fh)

Collecting pickle5
  Downloading https://files.pythonhosted.org/packages/f7/4c/5c4dd0462c8d3a6bc4af500a6af240763c2ebd1efdc736fc2c946d44b70a/pickle5-0.0.11.tar.gz (132kB)
     |████████████████████████████████| 133kB 4.3MB/s
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp37-cp37m-linux_x86_64.whl size=219248 sha256=d6b862f23202c89dc31b85653cd4475c420914d952c168a5fd4dd81e43b17e43
  Stored in directory: /root/.cache/pip/wheels/a6/90/95/f889ca4aa8b0e0c7f21c8470b6f5d6032f0390a3a141a9a3bd
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [ ]:
# Dropping the unimportant columns from both test and train 
data_train.drop(['user_id','min_number_of_orders'],axis=1,inplace=True)
data_test.drop(['user_id','min_number_of_orders'],axis=1,inplace=True)

# replace Nan values with mean values
data_train.fillna(data_train.mean(), inplace=True)
data_test.fillna(data_test.mean(), inplace=True)

In [ ]:
data_train.head()

   product_id  times_brought  ...  order_id  reordered
0         196             10  ...   1187899        1.0
1       10258              9  ...   1187899        1.0
2       10326              1  ...   1187899        0.0
3       12427             10  ...   1187899        0.0
4       13032              3  ...   1187899        1.0

[5 rows x 49 columns]

<h3>Function 1 - 
Pipeline -> Raw Input -> Output Predictions</h3>

In [ ]:
import pdb
def fun1(order_id,dataset_type):
  """
  This function accepts an order id and the type of dataset the order belongs to.
  It returns the list of product ids that the user would purchase again.
  """
  # Load trained catboost model
  model = pickle.load(open("/content/drive/MyDrive/Colab Notebooks/catboost_model", 'rb'))
  data = pd.DataFrame()

  if dataset_type == 'train':
    order_ids = data_train['order_id'].unique()
    if order_id not in order_ids:
      print("Order id is not found in train data")
      return
    else:
      # get all the rows corresponding to the passed order id   
      data = data_train[data_train['order_id'] == order_id]
      
  elif dataset_type == 'test':
    order_ids = data_test['order_id'].unique()
    if order_id not in order_ids:
      print("Order id is not found in test data")
      return
    else:
      # get all the rows corresponding to the passed order id   
      data = data_test[data_test['order_id'] == order_id]

  # Get the preditions for the above filtered data
  # While getting the predictions remove the product id and order id
  predictions = (model.predict_proba(data.drop(['product_id','order_id','reordered'],axis=1))[:, 1] >= 0.21).astype('int')

  # add the predictions as a new column to the above filtered data
  data['predictions'] = predictions

  # filter out all the products whereever predictions = 1(meaning the product has to be reordered)
  products = data[data['predictions'] == 1]['product_id']

  return products.values.tolist()

In [ ]:
order_id = int(input('Enter the order id: '))
dataset_type = str(input('Enter the dataset type to which the order belongs to: '))
start = datetime.now()
prod_list = fun1(order_id,dataset_type)
print('Products to be reordered are',prod_list)
print('Time taken to execute : ',datetime.now()-start)

Enter the order id: 111
Enter the dataset type to which the order belongs to: train
Order id is not found in train data
Products to be reordered are None
Time taken to execute :  0:00:00.143608

In [ ]:
order_id = int(input('Enter the order id: '))
dataset_type = str(input('Enter the dataset type to which the order belongs to: '))
start = datetime.now()
prod_list = fun1(order_id,dataset_type)
print('Products to be reordered are',prod_list)
print('Time taken to execute : ',datetime.now()-start)

Enter the order id: 1716008
Enter the dataset type to which the order belongs to: train
Products to be reordered are [3896, 21137, 22035, 27845, 38739, 39160, 43352]
Time taken to execute :  0:00:01.496003

In [ ]:
order_id = int(input('Enter the order id: '))
dataset_type = str(input('Enter the dataset type to which the order belongs to: '))
start = datetime.now()
prod_list = fun1(order_id,dataset_type)
print('Products to be reordered are',prod_list)
print('Time taken to execute : ',datetime.now()-start)

Enter the order id: 2821651
Enter the dataset type to which the order belongs to: test
Products to be reordered are [3397, 11068, 13176, 20899, 20995, 22035, 25133, 27344, 27845, 27966, 33716, 33754, 33787, 36011, 39180, 44632, 47209, 48086]
Time taken to execute :  0:00:00.131055

<h3>Function 2 - Pipeline -> (X,y) -> Metric

In [ ]:
def fun2(order_id):
  """
  This function makes use of trained data only. It takes one order id 
  as input and calculates the F1 score for the passed order id.
  """
  # Load trained catboost model
  model = pickle.load(open("/content/drive/MyDrive/Colab Notebooks/catboost_model", 'rb'))
  data = pd.DataFrame()

  order_ids = data_train['order_id'].unique()
  if order_id not in order_ids:
    print("Order id is not found in train data")
    return
  else:
    # get all the rows corresponding to the passed order id   
    data = data_train[data_train['order_id'] == order_id]
      
  # Get the preditions for the above filtered data
  # While getting the predictions remove the product id and order id
  predictions = (model.predict_proba(data.drop(['product_id','order_id','reordered'],axis=1))[:, 1] >= 0.21).astype('int')

  # add the predictions as a new column to the above filtered data
  data['predictions'] = predictions

  data = data[['reordered','predictions']]
  print("The F1_score for order id - {} is {}".format(order_id,
                                        f1_score(data['reordered'],data['predictions'])))

In [ ]:
order_id = int(input('Enter the order id: '))
start = datetime.now()
prod_list = fun2(order_id)
print('Time taken to execute : ',datetime.now()-start)

Enter the order id: 1187899
The F1_score for order id - 1187899 is 0.8000000000000002
Time taken to execute :  0:00:00.173351

In [ ]:
order_id = int(input('Enter the order id: '))
start = datetime.now()
prod_list = fun2(order_id)
print('Time taken to execute : ',datetime.now()-start)

Enter the order id: 2821651
Order id is not found in train data
Time taken to execute :  0:00:00.155722

In [ ]:
order_id = int(input('Enter the order id: '))
start = datetime.now()
prod_list = fun2(order_id)
print('Time taken to execute : ',datetime.now()-start)

Enter the order id: 1716008
The F1_score for order id - 1716008 is 0.4615384615384615
Time taken to execute :  0:00:00.175228

In [ ]:
order_id = int(input('Enter the order id: '))
start = datetime.now()
prod_list = fun2(order_id)
print('Time taken to execute : ',datetime.now()-start)

Enter the order id: 1
The F1_score for order id - 1 is 0.5714285714285715
Time taken to execute :  0:00:00.179621